<article class="post">
  <header>
    <h2 class="post__title">Lorem ipsum dolor sit amet.</h2>
  </header>
  <div class="post__body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, harum, doloribus, praesentium commodi ut doloremque eveniet voluptates totam eos cumque deserunt! Enim officiis alias unde nesciunt consectetur beatae, quisquam ratione. Non ea doloremque eos ipsum quidem! Ducimus laborum, asperiores sapiente, vitae inventore dolor officia aspernatur reprehenderit harum ipsum quos eveniet.</div>
</article>